<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Выберите машину, для которой вы хотите найти запчасти:
  </h1>

  <ng-container *ngIf="isDefined(availableCars); else loading">
    <div class="row">
      <div *ngFor="let car of availableCars" class="col-sm-4 my-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">{{car.mark}}</h4>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #loading><p style="margin: 0 auto">Loading cars list...</p></ng-template>
</div>

