<h4>Детали для автомобиля {{car.model}} {{car.mark}}, {{car.year}} года</h4>
<img class="img-fluid" src={{car.pic}}/>

<ng-container *ngIf="isDefined(availableDetails); else loading">
  <div class="row">
    <div *ngFor="let detail of availableDetails" class="col-sm-4 my-4">
      <div class="card">
        <div class="card-text">
          <h4 class="card-title">{{detail.name}}</h4>
          <p>{{detail.info}}</p>
          <a href="#" class="btn btn-primary" (click)="addDetailToCart(detail)">Добавить в корзину</a>
        </div>
      </div>
    </div>
  </div>
</ng-container>


<ng-template #loading><p style="margin: 0 auto">Loading details list...</p></ng-template>
