<h4>Детали для автомобиля {{car.model}} {{car.mark}}, {{car.year}} года</h4>
<img class="img-fluid" src={{car.pic}}/>
<div *ngIf="client.isAdmin">
  <a href="#" class="btn btn-primary" (click)="openAddWindow(addNewDetail)">Добавить новую деталь</a>
</div>

<ng-container *ngIf="isDefined(availableDetails); else loading">
  <div class="row">
    <div *ngFor="let detail of availableDetails" class="col-sm-4 my-4">
      <div class="card">
        <div class="card-text">
          <h4 class="card-title">{{detail.name}}</h4>
          <p>{{detail.info}}</p>
          <p>Цена: {{detail.price}}</p>
          <p>Год: {{detail.year}}</p>
          <a href="#" class="btn btn-primary" (click)="addDetailToCart(detail)">Добавить в корзину</a>
          <div *ngIf="client.isAdmin">
            <button class="btn btn-secondary" (click)="openChangeWindow(content, detail)">Изменить деталь</button>
          </div>
          <div *ngIf="client.isAdmin">
            <button class="btn btn-danger" (click)="deleteDetail(detail.detailId)">Удалить деталь</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>


<ng-template #loading><p style="margin: 0 auto">Loading details list...</p></ng-template>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Обновить деталь</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form class="modal-body" style="display: table-column; width:100%;" [formGroup]="updatedDetailForm">
    <div class="form-group">
    <label>
      Название
      <input name="name" required formControlName="updatedDetailName">
    </label>
    <p style="color:#ff0913" class="error_message" *ngIf="updatedDetailForm.get('updatedDetailName').invalid && (updatedDetailForm.get('updatedDetailName').dirty)">Введите название детали</p>
    <br>
    <label>
      Информация
      <input name="info" required formControlName="updatedDetailInfo">
    </label>
    <p style="color:#ff0913" class="error_message" *ngIf="updatedDetailForm.get('updatedDetailInfo').invalid && (updatedDetailForm.get('updatedDetailInfo').dirty)">Введите описание детали</p>
    <br>
    <label>
      Цена
      <input name="price" min="0" required formControlName="updatedDetailPrice">
    </label>
    <p style="color:#ff0913" class="error_message" *ngIf="updatedDetailForm.get('updatedDetailPrice').invalid && (updatedDetailForm.get('updatedDetailPrice').dirty)">Введите корректную цену</p>
    <br>
    <label>
      Год
      <input name="year" min="1950" max="2019" required formControlName="updatedDetailYear">
    </label>
    <p style="color:#ff0913" class="error_message" *ngIf="updatedDetailForm.get('updatedDetailYear').invalid && (updatedDetailForm.get('updatedDetailYear').dirty)">Введите корректный год</p>
    </div>
  </form>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" [disabled]="!updatedDetailForm.valid" (click)="updateDetail()">Принять изменения</button>
  </div>
</ng-template>


<ng-template #addNewDetail let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-new-detail">Добавить новую деталь</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form class="modal-body" [formGroup]="addDetailForm">
    <label>
      Название
      <input id="name" required formControlName="addDetailName">
    </label>
    <p style="color:#ff0913" class="error_message" *ngIf="addDetailForm.get('addDetailName').invalid && (addDetailForm.get('addDetailName').dirty)">Введите название детали</p>
    <br>
    <label>
      Информация
      <input name="info" required formControlName="addDetailInfo">
    </label>
    <p style="color:#ff0913" class="error_message" *ngIf="addDetailForm.get('addDetailInfo').invalid && (addDetailForm.get('addDetailInfo').dirty)">Введите описание детали</p>
    <br>
    <label>
      Цена
      <input name="price" min="0" required formControlName="addDetailPrice">
    </label>
    <p style="color:#ff0913" class="error_message" *ngIf="addDetailForm.get('addDetailPrice').invalid && (addDetailForm.get('addDetailPrice').dirty)">Введите корректную цену</p>
    <br>
    <label>
      Год
      <input name="year" min="1950" max="2019" required formControlName="addDetailYear">
    </label>
    <p style="color:#ff0913" class="error_message" *ngIf="addDetailForm.get('addDetailYear').invalid && (addDetailForm.get('addDetailYear').dirty)">Введите корректный год</p>
    <br>
    <label>
      Код поставщика
      <input id="supplierId" required formControlName="addDetailSupplierId">
    </label>
    <p style="color:#ff0913" class="error_message" *ngIf="addDetailForm.get('addDetailSupplierId').invalid && (addDetailForm.get('addDetailSupplierId').dirty)">Введите идентификатор существующего поставщика</p>
    <p>
      <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Показать список поставщиков
      </button>
    </p>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        <ul class="list-group">
          <li class="list-group-item">Renault                1</li>
          <li class="list-group-item">Vite                   2</li>
          <li class="list-group-item">Kortech                3</li>
          <li class="list-group-item">ADR                    4</li>
          <li class="list-group-item">NiBK                   5</li>
          <li class="list-group-item">Vkt                    6</li>
          <li class="list-group-item">Torque                 7</li>
          <li class="list-group-item">Automotor France       8</li>
          <li class="list-group-item">БелМаг                 9</li>
          <li class="list-group-item">Febi                   10</li>
          <li class="list-group-item">Bosch                  11</li>
          <li class="list-group-item">Valeo                  12</li>
          <li class="list-group-item">Textar                 13</li>
          <li class="list-group-item">ELF Evolution          14</li>
          <li class="list-group-item">Castrol                15</li>
          <li class="list-group-item">Citroen/Peugeot        16</li>
        </ul>
      </div>
    </div>
  </form>
  <div class="modal-footer">
    <button  type="button" class="btn btn-outline-dark" [disabled]="!addDetailForm.valid" (click)="addDetail()">Добавить</button>
  </div>
</ng-template>
